.container{
    
    position: relative;
   
}
.left{
    position: absolute;
    left: 0px;
}
.right{
    position: absolute;
    left: 500px;
    top: 0px;
}
.logo-web img{
    width: 200px;
    height: 200px;
}